.title-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animated-word {
  position: absolute;
  right: 100%; /* This positions the word to the left of the title */
  margin-right: 1rem; /* Space between word and title */
  opacity: 0;
  animation: slideAndFade 2s forwards;
}

@keyframes slideAndFade {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  80% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}
