.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.animation-space {
  width: 150px; /* Fixed width for animated words */
  text-align: right;
}

.animated-word {
  opacity: 0;
  animation: slideAndFade 2s forwards;
}

@keyframes slideAndFade {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  80% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(20px);
    opacity: 0;
  }
}
